:root {
--primery-text-color:#434455;
--title-text-color:#2E2F42;
--accent-color:#4D5AE5;
--white-color:#FFFFFF;
}



/* Колір фону та тексту для body */
body {
background-color: #FFFFFF;
color:var(--primery-text-color);
font-family: Roboto ,sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}



/* Навігація , header */
.list{
    list-style: none;
}

/* Колір logo */
.logo {
    color:#2E2F42;
    background-color:#FFFFFF;
    font-family: Raleway,sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
        /* identical to box height, or 133% */
    
       
    
}

/* Колір logo */
.logo > span {
    color:#4D5AE5 ;
 
}


/*Оформлення site-nav*/
.site-nav a {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}
.site-nav a:hover
.site-nav a:focus {
    color:#4D5AE5;
}

.site-nav a.current {
    color: #4D5AE5;
}


/* Оформлення auth-nav */
.auth-nav a {
    color:#434455 ;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.auth-nav a:hover {
    color: #4D5AE5;
}

.auth-nav a:focus {
    color: #4D5AE5;
}

/*hero*/
.hero {
    color:#FFFFFF ;
    background-color: #2E2F42;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 1;
     /* or 107% */
     text-align: center;
}



/* Оформлення cекцій(за винятком hero) */
.section-title {
    color:var(--title-text-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    /* identical to box height, or 120% */
    letter-spacing: 0.02em;
}

.section {
   background-color: #FFFFFF;
}


.section-presentation {
    color:var(--title-text-color);
    background-color:#FFFFFF;
   
}

.presentation-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}


.team-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}


.section-team {
    color: var(--title-text-color);
    background-color: #F4F4FD;
}




/* Footer */
.footer-form {
    color:#E7E9FC ;
    background-color: #2E2F42;

}

.logo-footer  {
    color: #F4F4FD;
    font-family: Raleway,sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.3;
        letter-spacing: 0.03em;
        /* identical to box height, or 133% */
    
       

}

.logo-footer>span {
    color:#4D5AE5;
      
}

/* Оформлення кнопки Order service */

.filter-btn {
    color:var(--white-color);
    background-color:var(--accent-color) ;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    width: 170px;
    height: 51px;
    left: 635px;
    top: 432px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 4px; 
}

.filter-btn:hover,.filter-btn:focus
{  
    color: var(--accent-color);
    background-color: var(--white-color);
    cursor: pointer;


}

/* Оформлення кнопок в портфоліо */

.portfolio-btn {
    color: var(--accent-color);
    background-color: #F4F4FD;
    font-weight: 600;
    font-size: 16px;
    line-height: 1,5;
    letter-spacing: 0.04em;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 8px 16px;
}

.portfolio-btn:hover,.portfolio-btn:focus
{   
    color: var(--white-color);
    background-color: #4D5AE5;
    cursor: pointer;
}



/*колір основного тексту #2E2F42*/

/*колір вторинного тексту #434455*/

/*білий колір #FFFFFF*/

/* акцент #4D5AE5*/

/* колір вторинного тексту №2 #E7E9FC*/

/* вторинний колір фону #F4F4FD*/

/* основний колір фону #F5F5F5*/

/* колір фону hero #2E2F42 */


